/*
  primary red: #EA212E;
  primary orange: #EF5B30;
  light orange: #FF754A;
  */
  body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif!important;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #FAFAFA;
    font-size: 16px;
  }
  section{
    width: 100%;
  }

  /* ================================================================================ */
  /* navbar */
  /* ================================================================================ */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
  .nav-li{
    margin: 15px 5px 15px 5px;
  }
  .nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
  }
  .navbar-transparent{
    background: none;
    position: absolute;
    color: #FFFFFF;
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
    width: 100%;
    z-index: 1;
  }
  .navbar-default .navbar-nav>li>a {
    color: #ddd;
    font-size: 18px;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
  }
  .navbar-img{
    padding:  0px 60px;
  }
  .navbar-toggle{
    float: left;
    margin-left: 15px;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  /* ================================================================================ */
  /* nav-tabs */
  /* ================================================================================ */
  .nav-tabs>li>a{
    color: #FF754A;
    font-size: 20px;
    font-weight: 500;
    border:3px solid transparent;
  }
  .nav-tabs{
    border: none;
  }
  .nav-tabs>li>a:hover{
    border: 3px solid transparent;
    border-bottom: 3px solid #FF754A;
    border-radius: 50%;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: 3px solid transparent;
    border-bottom: 3px solid #FF754A;
    background-color: transparent;
    color: #FF754A;
    border-radius: 50%;
  }

  /* ================================================================================ */
  /* Hero units */
  /* ================================================================================ */

  .hero-unit {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(107, 0, 0, 0.4), rgba(188, 40, 0, 0.4), rgba(0,0,0,0.25)), url('http://i.imgur.com/njgbJQI.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0px 40px;
  }

  /* ================================================================================ */
  /* Carasoule */
  /* ================================================================================ */

  .item-container{
    margin-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .item-container>.col-sm-6{
    height: 350px;
  }
  .item-container>.col-sm-6{
    text-align: center;
    color: #fff;
  }
  .carousel-control.left{
    background: none;
    background-image: none;
  }
  .carousel-control.right{
    background: none;
    background-image: none;
  }

  /* ================================================================================ */
  /* buttons */
  /* ================================================================================ */

  .btn-rounded-primary{
    border-radius: 20px;
    border: 2px solid #EF5B30;
    background-color: #EF5B30;
    color: #FFF;
    padding: 8px 25px 8px 25px;
  }
  .btn-rounded-primary:hover{
    color: #FFF;
    background-color: #EF5B30;
  }
  .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
  }

  /* ================================================================================ */
  /* TabView Media Quiers */
  /* ================================================================================ */

  @media(max-width: 934px){
    .navbar-img{
      padding:  0px 10px;
      width: 250px;
    }
    .navbar-nav>li>a{
      padding: 10px;
    }
  }
  @media(max-width: 768px){
    .navbar-img{
      display: none !important;
    }
    .nav-li{
      margin: 5px;
      display: inline;
    }
    .carousel{
      display: none;
    }
    .pro-shows{
      display: none;
    }

    /* ====== nav-tabs ======== */
    .nav-tabs-responsive > li {
      display: none;
      width: 23%;
    }
    .nav-tabs-responsive > li > a {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      width: 100%;
      text-align: center;
      vertical-align: top;
    }
    .nav-tabs-responsive > li.active {
      width: 54%;
    }
    .nav-tabs-responsive > li.active:first-child {
      margin-left: 23%;
    }
    .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
      display: block;
    }
    .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
      -webkit-transition: none;
      transition: none;
    }
    .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
      display: none;
    }
    .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after, .nav-tabs-responsive > li.prev > a:after {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .nav-tabs-responsive > li.prev > a:after {
      content: "\e079";
    }
    .nav-tabs-responsive > li.next > a:after {
      content: "\e080";
    }
    .nav-tabs-responsive > li.dropdown > a > .caret {
      display: none;
    }
    .nav-tabs-responsive > li.dropdown > a:after {
      content: "\e114";
    }
  }

  /* ================================================================================ */
  /* Desktop Media Quiers */
  /* ================================================================================ */
  @media(min-width: 768px){
    #res-hero-img{
      display: none;
    }
    .pokercards{
      display: none;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
      margin-top: -85px;
    }
    .nav-tabs-responsive>li{
      display: table-cell;
      width: 1%;
      float: none;
    }
    .nav-tabs-responsive>li>a{
      text-align: center;
    }
    .nav-tas-responsive{
      width: 100%;
    }

  }

  /* ================================================================================ */
  /* Grids */
  /* ================================================================================ */

  .section-paddings{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .col-md-4-paddings{
    padding: 10px;
  }

  /* ================================================================================ */
  /* Typography */
  /* ================================================================================ */
  .white-text{
    color: #fff;
  }
  .us-line {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 2px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 20px;
}

  /* ================================================================================ */
  /* Footer */
  /* ================================================================================ */

  .socic {
    text-align: center; 
    background-color: #111;
  }
  .qq {
    opacity: 1;
    margin: 0.5em;
    color: #fff;
  }
  .fa-facebook:hover {
    color: #3B5998;
  }

  .fa-twitter:hover {
    color: #55acee;
  }

  .fa-youtube:hover {
    color: #E62117;
  }
  .fa-instagram:hover{
    color: #C72F9B;
  }
  .fa-snapchat:hover{
    color: #FFFC00;
  }
  .fa-google-plus:hover{
    color:#EB4235;
  }


  /* ================================================================================ */
  /* Event-Cards */
  /* ================================================================================ */

    .card-container{
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .card-primary{
      box-shadow: 0 1px 4px rgba(0,0,0,.04);
      border: 1px solid rgba(0,0,0,.09);
      border-radius: 3px;
      background-color: #fff;
      color: #555;
      width: 450px;
      height: 150px;
      margin: 20px;
      background: url(http://www.freakmusic.co.uk/stat/redesign/redone/static/responsive/images/freak-cats/pop.jpg) no-repeat center center;
      background-size: cover;
    }
    .card-primary:hover {
      z-index: 1;
      border: none;
      box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
      transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    }
    .box{
      display: table;
      position: relative;
      width: 100%;
      height: 150px;
    }
        .event-vertical-center{
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #fff;
    }
    .event-card-text{
      font-weight: 900;
    }













