
body {
	display: table;
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.9) 10%,rgba(0,0,0,0.6) 80%, rgba(0,0,0,0.6) 10%), url('pro-shows-bg.jpg') no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
a{
	text-decoration: none !important ;
}
div {
	display: inline-block;
	line-height: 1;
	padding: 20px;
	font-size: 40px;
}

span {
	display: block;
	font-size: 20px;
	color: white;
}
.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 0px 40px;
}
.ghost-button-rounded-corners {
	display: inline-block;
	width: auto;
	padding: 8px;
	color: #FC0D1B;
	border: 2px solid #FC0D1B;
	border-radius: 5px;
	text-align: center;
	outline: none;
	text-decoration: none;
	background-color: transparent;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
}
.ghost-button-rounded-corners:hover,
.ghost-button-rounded-corners:active {
	background-color: transparent;
	color: #FFF;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
#days {
	font-size: 100px;
	color: #FFF;
}
#hours {
	font-size: 100px;
	color: #FFF;
}
#minutes {
	font-size: 100px;
	color: #FFF;
}
#seconds {
	font-size: 100px;
	color: #FFF;
}